@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    /* Adjust header styles as needed */
}

.footer {
    /* Adjust footer styles as needed */
    height: 100px;
    /* Adjust the height according to your footer */
}

.layout-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    position: relative;
}


/* Button to open the modal */

.open-modal-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-align: center;
}

.open-modal-btn:hover {
    background-color: #005bb5;
}

.emoji {
    display: block;
    font-size: 24px;
    /* Size of the emoji */
}

.button-text {
    display: block;
    font-size: 10px;
    /* Size of the text */
    margin-top: 4px;
    /* Space between emoji and text */
}


/* Modal overlay */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


/* Modal content */

.modal-content {
    position: relative;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    max-width: 800px;
    max-height: 600px;
}

.streamlit-iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/* Close button inside modal */

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

.close-modal-btn:hover {
    background-color: #cc0000;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .modal-content {
        width: 90vw;
        height: 90vh;
    }
}

@media (max-width: 480px) {
    .open-modal-btn {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}